@import "../../styles";
.search-bar-container {
  display: flex;
  justify-content: center;

}
mat-form-field.form {
  font-size: 12px;
  border: transparent;
  width: 350px;
}

mat-label {
  margin-left: 40px;
}

mat-icon {
  color: gray;
}

@media screen and (min-width: 767px){
  //.search-bar-container{
  //  transform: scale(0.5);
  //}
}
